[user]
  name = Adrian-Grimm
  email = mail@adrian-grimm.net
[credential]
  username = Adrian-Grimm
	editor = nvim
[mergetool "smerge"]
	cmd = smerge mergetool \"$BASE\" \"$LOCAL\" \"$REMOTE\" -o \"$MERGED\"
	trustExitCode = true
[merge]
	tool = smerge
[core]
	autocrlf = false
	eol = lf
