[user]
	name = Adrian Grimm
[credential]
	username = Adrian-Grimm@github.com
	helper = store
[core]
	editor = vim
[mergetool "smerge"]
	cmd = smerge.exe mergetool \"$BASE\" \"$LOCAL\" \"$REMOTE\" -o \"$MERGED\"
	trustExitCode = true
[merge]
	tool = smerge
