[user]
	name = Adrian Grimm
[credential]
  username = Adrian-Grimm
	editor = nvim
[mergetool "smerge"]
	cmd = smerge.exe mergetool \"$BASE\" \"$LOCAL\" \"$REMOTE\" -o \"$MERGED\"
	trustExitCode = true
[merge]
	tool = smerge
